{% for namespace in ["cert-manager", "external-secrets", "flux-system", "kube-tools", "network", "storage"] %}
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/master/namespace-v1.json
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
{% endfor %}
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/master/secret-v1.json
apiVersion: v1
kind: Secret
metadata:
  name: bitwarden-secrets-manager
  namespace: external-secrets
stringData:
  token: {{ ENV['BITWARDEN_KUBERNETES_TOKEN'] }}
{% for namespace in ["external-secrets", "flux-system", "network"] %}
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/master/secret-v1.json
# external-secrets needs cluster-secrets to bootstrap the ClusterSecretStore
# flux-system needs cluster-secrets for postBuild variable substitution
apiVersion: v1
kind: Secret
metadata:
  name: cluster-secrets
  namespace: {{ namespace }}
  labels:
    kustomize.toolkit.fluxcd.io/name: cluster-apps
    kustomize.toolkit.fluxcd.io/namespace: flux-system
    reconcile.external-secrets.io/managed: "true"
stringData:
  {{ ENV['CLUSTER_SECRETS'] | indent(2) | safe }}
{% endfor %}
---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age-secret
  namespace: flux-system
stringData:
  age.agekey: {{ ENV['AGE_KEY'] }}
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/master/secret-v1.json
# pre-seed wildcard TLS so the gateway has a cert immediately at bootstrap
apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: {{ ENV['SECRET_DOMAIN'] | replace('.', '-') }}-production-tls
  namespace: network
  annotations:
    cert-manager.io/alt-names: "*.{{ ENV['SECRET_DOMAIN'] }},{{ ENV['SECRET_DOMAIN'] }}"
    cert-manager.io/certificate-name: {{ ENV['SECRET_DOMAIN'] }}
    cert-manager.io/common-name: {{ ENV['SECRET_DOMAIN'] }}
    cert-manager.io/ip-sans: ""
    cert-manager.io/issuer-group: ""
    cert-manager.io/issuer-kind: ClusterIssuer
    cert-manager.io/issuer-name: letsencrypt-production
    cert-manager.io/uri-sans: ""
  labels:
    controller.cert-manager.io/fao: "true"
data: {{ ENV['lets-encrypt-tls'] | safe }}
