---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app wizarr
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      wizarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/wizarrrr/wizarr
              tag: v2025.10.3
            env:
              TZ: Europe/Paris
              PUID: &uid 1000
              PGID: &gid 1000
            resources:
              requests:
                cpu: 15m
                memory: 180Mi
              limits:
                memory: 300Mi
    # defaultPodOptions:
    #   securityContext:
    #     runAsNonRoot: true
    #     runAsUser: *uid
    #     runAsGroup: *gid
    #     fsGroup: *gid
    #     fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: wizarr
        ports:
          http:
            port: 5690
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Video
          gethomepage.dev/name: Wizarr
          gethomepage.dev/icon: wizarr.png
          gethomepage.dev/description: Plex Invite Management
        parentRefs:
          - name: external
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: 5690
    persistence:
      config:
        existingClaim: *app
        globalMounts:
          - path: /data/database
      tmpfs:
        type: emptyDir
        advancedMounts:
          wizarr:
            app:
              - path: /.cache

