---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app calibre-web-automated
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  values:
    controllers:
      calibre-web-automated:
        pod:
          securityContext:
            runAsUser: 0
            runAsGroup: 0
            runAsNonRoot: false
        containers:
          app:
            image:
              repository: docker.io/crocodilestick/calibre-web-automated
              tag: V3.1.2@sha256:b07135bbbcaf2fe93b40980a4948d59df81ec7a7dd9dafe32607678b7e3e9cac
            env:
              TZ: Europe/Paris
              PUID: 1000
              PGID: 1000
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /login
                    port: &port 8083
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: true
              readOnlyRootFilesystem: false
              capabilities:
                drop:
                  - ALL
                add:
                  # S6
                  - CHOWN
                  - SETUID
                  - SETGID
                  - FOWNER
                  - DAC_OVERRIDE
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 1Gi
    service:
      app:
        controller: calibre-web-automated
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/name: calibre
          gethomepage.dev/icon: calibre-web.png
          gethomepage.dev/description: E-Book Library Management
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
          - "cwa.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        existingClaim: *app
      cache:
        type: emptyDir
      media:
        type: nfs
        server: ${NFS_ADDR:=temp}
        path: /mnt/tank/shared
        globalMounts:
          - path: /cwa-book-ingest
            subPath: Literature/Calibre/Watch
          - path: /calibre-library
            subPath: Literature/Calibre/Library
      tmp:
        type: emptyDir
