---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: kube-tools
components:
  - ../../../components/common
resources:
  - ./reloader/ks.yaml
  # - ./system-upgrade-controller/ks.yaml
configMapGenerator:
  - name: versions
    env: ./versions.env
configurations:
  - ./kustomizeconfig.yaml