---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name plex-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        PLEX_TOKEN: "{{ .PLEX_TOKEN }}"
        PLEX_USERNAME: "{{ .PLEX_USERNAME }}"
        TRAKT_USERNAME: "{{ .TRAKT_USERNAME }}"
        ANI_USERNAME: "{{ .ANI_USERNAME }}"
        ANI_TOKEN: "{{ .ANI_TOKEN }}"
  dataFrom:
  - extract:
      key: plex
  - extract:
      key: anilist
  - extract:
      key: trakt
