---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: &name romm-secret
spec:
  secretStoreRef:
    name: bitwarden-secrets-manager
    kind: ClusterSecretStore
  refreshInterval: 15m
  target:
    name: *name
    template:
      engineVersion: v2
      data:
        # App
        ROMM_AUTH_SECRET_KEY: "{{ .ROMM_AUTH_SECRET_KEY }}"
        IGDB_CLIENT_SECRET: "{{ .IGDB_CLIENT_SECRET }}"
        IGDB_CLIENT_ID: "{{ .IGDB_CLIENT_ID }}"
        STEAMGRIDDB_API_KEY: "{{ .STEAMGRIDDB_API_KEY }}"
        RETROACHIEVEMENTS_API_KEY: "{{ .RETROACHIEVEMENTS_API_KEY }}"
        DISABLE_USERPASS_LOGIN: "false"
        # OIDC_ENABLED: "true"
        # OIDC_PROVIDER: authentik
        # OIDC_CLIENT_ID: "{{ .OIDC_CLIENT_ID }}"
        # OIDC_CLIENT_SECRET: "{{ .OIDC_CLIENT_SECRET }}"
        # OIDC_REDIRECT_URI: "{{ .OIDC_REDIRECT_URI }}"
        # OIDC_SERVER_APPLICATION_URL: "{{ .OIDC_SERVER_APPLICATION_URL }}"
  dataFrom:
    - extract:
        key: romm
