---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app romm
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      romm:
        labels:
          nfsMount: "true"
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/rommapp/romm
              tag: 4.4.0
            env:
              TZ: Europe/Paris
              ENABLE_SCHEDULED_RESCAN: "true"
              SCHEDULED_RESCAN_CRON: "0 3 * * *"
              # ENABLE_SCHEDULED_UPDATE_SWITCH_TITLEDB: "false"
              # ENABLE_SCHEDULED_UPDATE_MAME_XML: "false"
              ENABLE_RESCAN_ON_FILESYSTEM_CHANGE: "true"
              RESCAN_ON_FILESYSTEM_CHANGE_DELAY: 5
              REDIS_HOST: dragonfly.database.svc.cluster.local
              REDIS_PORT: 6379
              ROMM_DB_DRIVER: postgresql
              DB_NAME: *app
              DB_HOST: romm-pgbouncer.media.svc
              DB_PORT: 5432
              DB_USER: *app
              DB_PASSWD:
                valueFrom:
                  secretKeyRef:
                    name: romm-pguser-romm
                    key: password
              HASHEOUS_API_ENABLED: "true"
            envFrom:
              - secretRef:
                  name: romm-secret
            ports:
              - name: http
                containerPort: &port 8080
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 3500Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups:
          - 1000
    service:
      app:
        controller: *app
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Video
          gethomepage.dev/name: RomM
          gethomepage.dev/icon: romm.png
          gethomepage.dev/description: Retro Games
          gethomepage.dev/widget.type: romm
          gethomepage.dev/widget.url: http://romm.media:8080
          # gethomepage.dev/widget.username: "{{ `{{HOMEPAGE_VAR_KOMGA_USERNAME}}` }}"
          # gethomepage.dev/widget.password: "{{ `{{HOMEPAGE_VAR_KOMGA_PASSWORD}}` }}"
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      config:
        type: configMap
        name: romm-configmap
        globalMounts:
          - path: /romm/config/config.yml
            subPath: config.yml
            readOnly: true
      data:
        existingClaim: *app
        advancedMounts:
          romm:
            app:
              - path: /romm/resources
                subPath: resources
              - path: /romm/assets
                subPath: assets
      media:
        type: nfs
        server: ${NFS_ADDR:=temp}
        path: /mnt/tank/shared
        globalMounts:
          - path: /romm/library
            subPath: Games/Library
      tmpfs:
        type: emptyDir
        advancedMounts:
          romm:
            app:
              - path: /redis-data
                subPath: redis-data
              - path: /romm/config
                subPath: config
              - path: /tmp
                subPath: tmp
