---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app komf
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  values:
    controllers:
      komf:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: sndxr/komf
              tag: 1.7.1@sha256:4a6971a76abc30869f6d0555a7328ff8cd879f3016a7378395df331c1245cbb2
            env:
              KOMF_KOMGA_BASE_URI: http://komga.media.svc.cluster.local:8080
              KOMF_LOG_LEVEL: INFO
            envFrom:
              - secretRef:
                  name: komf-secret
            resources:
              requests:
                memory: 4282M
                cpu: 15m
              limits:
                memory: 4282M
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 8085
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Books
          gethomepage.dev/name: Komf
          gethomepage.dev/icon: komga.png
          gethomepage.dev/description: Komga Metadata Analyser
          external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        enabled: true
        existingClaim: *app
        globalMounts:
          - path: /config
      configmap:
        enabled: true
        type: configMap
        name: komf-configmap
        globalMounts:
          - path: /config/application.yml
            # readOnly: true
            subPath: application.yml
      media:
        type: nfs
        server: ${NFS_ADDR:=temp}
        path: /mnt/tank/shared
        globalMounts:
          - path: /data
            subPath: Literature
