---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app bitmagnet
spec:
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  values:
    controllers:
      bitmagnet:
        replicas: 3
        annotations:
          reloader.stakater.com/auto: "true"
        pod:
          securityContext:
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
        initContainers:
          coredns:
            image:
              repository: mirror.gcr.io/coredns/coredns
              tag: 1.14.1
            args:
              - -conf
              - /etc/coredns/Corefile
            restartPolicy: Always

          gluetun:
            dependsOn:
              - coredns
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.41.1
            env:
              DOT: "off"
              DNS_ADDRESS: "127.0.0.2"
              FIREWALL_INPUT_PORTS: "3333"
              FIREWALL_OUTBOUND_SUBNETS: "10.43.0.0/16,10.42.0.0/16"
              VPN_SERVICE_PROVIDER: protonvpn
              VPN_TYPE: wireguard
              VPN_INTERFACE: wg0
              SERVER_COUNTRIES: Netherlands
            envFrom:
              - secretRef:
                  name: bitmagnet-secret
            resources:
              limits:
                squat.ai/tun: 1
            restartPolicy: Always
            securityContext:
              allowPrivilegeEscalation: false
              capabilities:
                add:
                  - NET_ADMIN
            lifecycle:
              postStart:
                exec:
                  command:
                    - /bin/sh
                    - -c
                    - (ip rule del table 51820; ip -6 rule del table 51820) || true
        containers:
          app:
            image:
              repository: ghcr.io/bitmagnet-io/bitmagnet
              tag: v0.10.0
            args:
              - worker
              - run
              - --all
            env:
              TZ: Europe/Paris
              TMDB_ENABLED: "false"
              PROCESSOR_CONCURRENCY: "3"
              DHT_CRAWLER_SCALING_FACTOR: "100"
              DHT_CRAWLER_SAVE_FILES_THRESHOLD: "1000"
              POSTGRES_HOST: bitmagnet-pgbouncer.downloads.svc
              POSTGRES_PORT: "5432"
              POSTGRES_USER: bitmagnet
              POSTGRES_NAME: bitmagnet
              POSTGRES_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: bitmagnet-pguser-bitmagnet
                    key: password
            resources:
              requests:
                cpu: 100m
                memory: 1000Mi
              limits:
                memory: 2Gi
            securityContext:
              runAsUser: 1000
              runAsGroup: 1000
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop:
                  - ALL

    service:
      app:
        controller: *app
        ports:
          http:
            port: 3333

    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network

    persistence:
      coredns:
        type: configMap
        name: bitmagnet-coredns
        advancedMounts:
          bitmagnet:
            coredns:
              - path: /etc/coredns/Corefile
                subPath: Corefile
                readOnly: true
