---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app ghostfolio
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  values:
    controllers:
      ghostfolio:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/ghostfolio/ghostfolio
              tag: 2.237.0@sha256:be377316db22fbc5ce015ab661e9b301b3768a00581c3a29c4738a1e382944d1
            env:
              NODE_ENV: production
              PORT: &port 3333
              POSTGRES_DB: *app
              POSTGRES_USER: *app
              POSTGRES_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: ghostfolio-pguser-ghostfolio
                    key: password
              DATABASE_URL:
                valueFrom:
                  secretKeyRef:
                    name: ghostfolio-pguser-ghostfolio
                    key: pgbouncer-uri
              REDIS_HOST: dragonfly.database.svc.cluster.local
              REDIS_PORT: "6379"
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 3500Mi
    service:
      app:
        controller: ghostfolio
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Finance
          gethomepage.dev/name: Ghostfolio
          gethomepage.dev/icon: ghostfolio.png
          gethomepage.dev/description: Wealth Management
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
