---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app dawarich
spec:
  releaseName: dawarich
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
  values:
    controllers:
      dawarich:
        containers:
          app: &dawarich
            image:
              repository: freikin/dawarich
              tag: 0.35.0@sha256:1269069eac00f53ca1327aaabc34cb692084738129a35e8274adacaab8197d0b
            env:
              TIME_ZONE: "Europe/Paris"
              REVERSE_GEOCODING_ENABLED: true
              SELF_HOSTED: "true"
              STORE_GEODATA: "true"
              APPLICATION_HOSTS: "dawarich.${SECRET_DOMAIN}"
              REDIS_URL: redis://dragonfly.database.svc.cluster.local:6379
              RAILS_ENV: development
              DATABASE_NAME: *app
              DATABASE_PORT: 5432
              DATABASE_HOST: dawarich-pgbouncer.default.svc
              DATABASE_USERNAME: *app
              DATABASE_PASSWORD:
                valueFrom:
                  secretKeyRef:
                    name: dawarich-pguser-dawarich
                    key: password
            resources:
              requests:
                memory: "1Gi"
                cpu: "250m"
              limits:
                memory: "3Gi"
                cpu: "2000m"
            command:
              - "web-entrypoint.sh"
            args:
              - "bin/rails server -p 3000 -b 0.0.0.0"
          sidekiq:
            <<: *dawarich
            command:
              - 'bundle'
              - 'exec'
              - 'sidekiq'
            resources: # fixes https://github.com/Freika/dawarich/pull/941
              requests:
                memory: "1Gi"
                cpu: "250m"
              limits:
                memory: "3Gi"
                cpu: "1500m"
    service:
      app:
        controller: *app
        ports:
          http:
            port: &port 3000
    route:
      app:
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Home
          gethomepage.dev/name: Dawarich
          gethomepage.dev/icon: google-maps.png
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      data:
        existingClaim: dawarich
        globalMounts:
          - path: /var/app/public
            subPath: public
          - path: /var/app/storage
            subPath: storage
          - path: /dawarich_db_data
            subPath: dawarich_db_data
      watched:
        type: emptyDir
        globalMounts:
          - path: /var/app/tmp/imports/watched
