---
cluster:
  id: {{ ENV['CLUSTER_ID'] }}
  secret: {{ ENV['CLUSTER_SECRET'] }}
secrets:
  bootstraptoken: {{ ENV['CLUSTER_TOKEN'] }}
  secretboxencryptionsecret: {{ ENV['CLUSTER_SECRETBOXENCRYPTIONSECRET'] }}
trustdinfo:
  token: {{ ENV['MACHINE_TOKEN'] }}
certs:
  etcd:
    crt: {{ ENV['CLUSTER_ETCD_CA_CRT'] }}
    key: {{ ENV['CLUSTER_ETCD_CA_KEY'] }}
  k8s:
    crt: {{ ENV['CLUSTER_CA_CRT'] }}
    key: {{ ENV['CLUSTER_CA_KEY'] }}
  k8saggregator:
    crt: {{ ENV['CLUSTER_AGGREGATORCA_CRT'] }}
    key: {{ ENV['CLUSTER_AGGREGATORCA_KEY'] }}
  k8sserviceaccount:
    key: {{ ENV['CLUSTER_SERVICEACCOUNT_KEY'] }}
  os:
    crt: {{ ENV['MACHINE_CA_CRT'] }}
    key: {{ ENV['MACHINE_CA_KEY'] }}
