---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/source.toolkit.fluxcd.io/ocirepository_v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: minecraft
spec:
  interval: 5m
  layerSelector:
    mediaType: application/vnd.cncf.helm.chart.content.v1.tar+gzip
    operation: copy
  ref:
    tag: 5.1.1
  url: oci://ghcr.io/itzg/minecraft-server-charts/minecraft
---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app minecraft
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: minecraft
  dependsOn: []
  values:
    fullnameOverride: *app
    image:
      repository: ghcr.io/itzg/minecraft-server
      tag: 2026.3.0@sha256:96d4812e29e2e820831f86a089002f7e78665f830cb4f16b23d5880d48cf90a7
    resources:
      requests:
        cpu: 200m
      limits:
        cpu: 2000m
        memory: 4Gi
    securityContext:
      runAsUser: 1000
      fsGroup: 100
    livenessProbe:
      initialDelaySeconds: 30
    readinessProbe:
      initialDelaySeconds: 30
    startupProbe:
      enabled: true
    extraEnv:
      TZ: Europe/Paris
    persistence:
      dataDir:
        enabled: true
        existingClaim: *app
    serviceAnnotations:
      mc-router.itzg.me/externalServerName: minecraft.${SECRET_DOMAIN}
    minecraftServer:
      autopauseTimeoutEst: 600
      autopauseTimeoutInit: 300
      difficulty: normal
      enableAutopause: true
      enableWhitelist: true
      eula: true
      forceGamemode: true
      jvmXxOpts: "-XX:MaxRAMPercentage=75"
      maxBuildHeight: 320
      maxTickTime: -1
      maxWorldSize: 29999984
      memory: 8192M
      mode: survival
      motd: "Chocoboco - Minecraft Server"
      ops: "Sahru"
      overrideIcon: true
      paperChannel: experimental
      serverName: Chocoboco
      skipSudo: true
      spawnProtection: 0
      spigetResources:
        - 36618
      type: PAPER
      version: "1.21.6"
      viewDistance: 12
      whitelist: "Sahru"
      modrinth:
        projects:
          # - Cz6msz34 # AxGraves
          # - pZ2wrerK # Emotecraft
          # - fALzjamp # Chunky
          # - OhduvhIc # Veinminer
          # - J6U9o3JG # HuskHomes
          # - z4mHgUYG # InteractionVisualizer
          # - MwLGimob # TabListPing
          # - IahtO7tM # Clumps
          # - iOwOrlzi # xpDisplay
          - swbUV1cr # BlueMap
          # - Zjb20YAx # Xaero Map Spigot
        # Specifies whether to download Modrinth dependencies. The allowed values are: none, required, optional
        downloadDependencies: required
        # The version type is used to determine the newest version to use from each project. The allowed values are: release, beta, alpha
        allowedVersionType: alpha
      rcon:
        enabled: true
      serviceType: LoadBalancer
      extraPorts:
        - name: map
          containerPort: 8100
          protocol: TCP
          service:
            enabled: true
            embedded: false
            type: ClusterIP
            port: 8100
  valuesFrom:
    - kind: Secret
      name: minecraft-secret
      valuesKey: RCON_PASSWORD
      targetPath: minecraftServer.rcon.password
