---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app cobalt
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  dependsOn: []
  values:
    controllers:
      cobalt:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/imputnet/cobalt
              tag: 11.4.3-d577d5e
            env:
              # API_URL: "{{ .Release.Name }}.${SECRET_DOMAIN}"
              API_URL: http://cobalt.automation:9000
              DEBUG: "*"
            resources:
              requests:
                cpu: 1m
                memory: 128Mi
              limits:
                memory: 256Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        controller: cobalt
        ports:
          http:
            port: &port 9000
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.${SECRET_DOMAIN}"
        parentRefs:
          - name: envoy-internal
            namespace: network
    # persistence:
    #   data:
    #     existingClaim: n8n
    #     advancedMounts:
    #       n8n:
    #         app:
    #           - path: /home/node/.n8n