---
machine:
  network:
    hostname: "tal0s"
    interfaces:
      - deviceSelector:
          hardwareAddr: "48:21:0b:55:7a:92"
        dhcp: true
        mtu: 1500
        addresses:
          - 192.168.1.190/24
        routes:
          - network: "0.0.0.0/0"
            gateway: "192.168.1.1"
        vip:
          ip: "192.168.1.253"
#  nodeLabels:
#   topology.kubernetes.io/zone: m
  type: controlplane